html,
body{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("/img/architecture-3121009_1920.jpg");
    position: relative;
}
h1{
    padding: 2% 0;
    color: rgb(238, 173, 113);
}
h3{
    text-transform: capitalize;
}
i{
    cursor: pointer;
    vertical-align: middle;
}
.fa-trash-alt{
    pointer-events: none;
}
#imp-star,
.false.far,
.true{
    font-size: 1.6rem;
}
#imp-star.fas,
.true.fas,
.false.fas{
    color: rgb(0, 110, 255);
}
.color-label{
    color: rgb(255, 255, 255);
    background-color: rgb(65, 64, 64);
}
.control{
    display: flex;
    justify-content: flex-end;
}

.content{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(181, 182, 182);
    padding: 1.2rem;
    background-color: #e2c0a481;
    border-radius: 1rem;
    overflow: hidden;
}
@media(min-width:768px){
    .content{
        flex-direction: row;
    }
}
#list{
    flex: 4;
    display: flex;
    flex-direction: column;
}

#capture{
    flex: 3;
    position: relative;
}
.new-task{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: .5rem;
    width: 95%;
    border-radius: 1rem;
    box-shadow: 0px 5px 5px black;
}
.btn-danger{
     height: 100%;
}
.task-container,
.date-icon{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 4%;
    pointer-events: none;
}
.details-container{
    display: flex;
    justify-content: flex-end;
    
}
#btnDetails{
    margin-bottom: 4%;
    margin-right: 3%;
}
.important-container{
    display: flex;
    align-items: center;
}
#form-error{
    background-color: rgb(207, 18, 18);
    color: whitesmoke;
    text-align: center;
    border-radius: .5rem .5rem 0 0;
}